
.navbar{
    background-color:#a0001e !important;
    color: white !important;
    min-height: 50px;
    margin-bottom: 20px;
    padding-left: 50px;
    border: 1px solid transparent;
}

.navbar a{
    color: white !important;
    margin-left: 15%;
}

.memberContainer{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
}
  
.MyNav{
    height: 5rem;
    background-color:#a0001e;
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.MyNav h2{
    color: white;
    font-weight: 300;
    padding-right: 40px;
}

.MyNav h1{
    color: white;
    font-family: 'Shadows Into Light', cursive;
    margin-bottom: 0;
}

.MyNav img{
    padding-left: 40px;
}

.bodyContainer{
    display: flex;
    flex-direction: row;
}

.cardContainer{
    height: 95vh;
    width: 50vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tableContainer{
    height: 95vh;
    width: 50vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
